body {
  background-color: #2e282b;
  font-family: 'Inconsolata', monospace;
  font-size: 24px; 
}

a {
  text-decoration: none;
}

.navbar {
  background: rgb(55,7,65);
background: linear-gradient(90deg, rgba(55,7,65,1) 50%, rgba(95,12,111,1) 100%);
  display: flex;
  align-items: center;
}

.navbar a {
  color: #ffedea;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar .logo {
  display: block;
  color: #5DA283;
  padding: 0 24px;
  font-size: 24px;
}

.navbar ul li a {
  color: #ffedea;
  padding: 24px;
  display: block;
}

.navbar ul a:hover,
.navbar ul a:focus {
  background-color: #5a3761;
}
